#
# build-mega2560.yml
# Build and push the fw to a WebDAV server
#

name: Build A10 Pro with Bilinear leveling

on:
  push:
    branches:
    - bugfix-2.1.x-A10Pro-bilin-SD
    paths-ignore:
    - config/**
    - data/**
    - docs/**
    - '**/*.md'

jobs:
  build_fw:
    name: Build for GT2560

    runs-on: ubuntu-latest

    steps:

    - name: Set Time Zone
      uses: szenius/set-timezone@v1.0
      with:
        timezoneLinux: "Europe/Prague"
        
    - name: Check out the PR
      uses: actions/checkout@v3

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Cache PlatformIO
      uses: actions/cache@v3
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

    - name: Select Python 3.7
      uses: actions/setup-python@v3
      with:
        python-version: '3.7' # Version range or exact version of a Python version to use, using semvers version range syntax.
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified

    - name: Install PlatformIO
      run: |
        pip install -U https://github.com/platformio/platformio-core/archive/develop.zip
        platformio update

    - name: Build the FW
      run: |
        pio run -j7
    - name: Upload the fw    
      run: |
        curl --user "${{ secrets.DAV_USER }}:${{ secrets.DAV_PASS }}" -T ".pio/build/mega2560/firmware.hex" "${{ secrets.DAV_SERVER }}/${{ secrets.DAV_PATH }}/firmware_`date +%d_%m_%y_%H_%M`_A10Pro_2.1.x_bilinear-SD.hex" --anyauth
